# Node.js dependencies
/node_modules
/packages/*/node_modules

# Build output
/packages/*/dist

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak

# TypeScript
/packages/*/tsconfig.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE/Editor settings
.idea/
.vscode/
*.iml

# Miscellaneous
*.log
*.cache
*.lock
coverage/
